// Navigation Styles here

header {
    width: 100%;
    border-bottom: 2px dashed silver;

    nav {
        display: flex;
        align-items: baseline;

        h1 {

        }

        a {
            justify-content: flex-end;
        }
    }
}