// Navigation Styles here

header {
    width: 100%;
    border-bottom: 2px dashed silver;

    .top-bar {
        display: flex;
        align-items: baseline;
        margin-top: 20px;
        padding-bottom: 15px;
        border-bottom: 2px dashed silver;

        // h1 {

        // }

        a {
            
        }
    }
}